# ---------- Python ----------

backend/.venv/
backend/.env

__pycache__/
*.py[cod]
.pytest_cache/

# ---------- React ----------

frontend/node_modules/
frontend/dist/

# ---------- VS Code ----------

.vscode/

# ---------- OS ----------

.DS_Store
Thumbs.db